/*******************************************************************************
 * Site-wide styles
 */

body {
	font-family: 'Roboto', sans;
}

p {
	line-height: 1.5em;
}

h1 {
	text-align: center;
}

h2 {
	border-bottom: 1px solid #999;
}

h3 {
	margin-bottom: 0;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Roboto Slab', serif;
	font-weight: normal;
}

.nobreak {
	white-space: nowrap;
}

ul.plain {
	list-style: none;
}

/*******************************************************************************
 * Footer styles
 */

iframe#footer { width: 100%; border: 0px none transparent; height: 5em; display: block; }

html#footer-noscroll { overflow-y: hidden; }

footer { text-align: center; font-size: 90%; font-style: italic; }

hr#footer-top { width: 33%; border:none; border-top: 1px solid silver; }



/*******************************************************************************
 * Page-specific styles
 */

#home #waldir-img {
	border-radius: 50%;
	display: block;
	margin: 0 auto;
}

#profiles ul {
	column-width: 10em;
	-moz-column-width: 10em;
	-webkit-column-width: 10em;
}

/* Enhance the CV with a table-like display
 * if the screen is large enough */
@media (min-width: 40rem) {
	#cv .table {
		display: table;
	}
	#cv .table > * {
		display: table-row;
	}
	#cv .field {
		display: table-cell;
		text-align: right;
		width: 10em;
	}
	#cv .value {
		display: table-cell;
		padding-left: 1.5em;
	}
}

#cv .icon-what,
#cv .icon-when,
#cv .icon-where,
#cv .icon-who,
#cv .icon-book {
	padding-left: 1.8em;
	text-indent: -1.4em;
}

#cv .icon-when {
	font-style: italic;
}

/*******************************************************************************
 * print styles
 */

@media print{
.page-break-above { page-break-before: always; }
}

@media screen {
.print-only { display: none; }
}

/*******************************************************************************
 * grid.css
 */

.container, footer {
	margin: 1em auto 0;
	max-width: 960px;
	width: 90%;
}

*, *:before, *:after { box-sizing: border-box; }

/* Small screens (default) */
html { font-size: 100%; }

/* Medium screens (640px) */
@media (min-width: 40rem) {
html { font-size: 112%; }
}

/* Large screens (1024px) */
@media (min-width: 64rem) {
html { font-size: 120%; }
}

/*******************************************************************************
 * fluidity.css
 */

img, canvas, iframe, video, svg, select, textarea { max-width: 100%; }

/* Wrap tables or pre elements in a div with this class */
.overflow-container { overflow-y: scroll; }
