@import url(https://raw.githack.com/jonathantneal/sanitize.css/master/sanitize.css);
@import url(https://rawcdn.githack.com/waldyrious/downstyler/63c2be057f1e8d649be1c4bddd33d7e2667a87e8/downstyler.css);

/*******************************************************************************
 * Site-wide styles
 */

h1 { text-align: center; }

.nobreak { white-space: nowrap; }

ul.plain { list-style: none; }

a { color: RoyalBlue; }

html#iframe-noscroll { overflow-y: hidden; }

iframe { width: 100%; border: 0px none transparent; display: block; }

/* Header styles ------------------------------------------------------------ */

iframe#nav {
	position: fixed; top: 0; left: 0;
	height: 3em; box-sizing: content-box;
	border-bottom: 4px solid YellowGreen; /* alternatives: DarkTurquoise, OrangeRed */
	background: #333;
	z-index: 1;
}

body#nav { padding: 0; }

.container { margin-top: 3em; } /* to make room for the navbar */

nav {
	color: grey;
	padding: 0 1em;
	white-space: nowrap;
	text-align: right;
	line-height: 3em;
	font-family: sans-serif;
}

#nav a { color: white; text-decoration: none; }

#nav a:visited { color: silver; }

#nav a#homelink:visited { color: white; }

#nav a:hover { text-decoration: underline; }

#nav a#homelink:hover { text-decoration: none; }

#nav a#homelink {
	font-family: sans-serif;
	font-size: 150%;
	float: left;
	padding-right: 0.5em;
	font-weight: bold;
	letter-spacing: 0.05em;
}

/* Footer styles ------------------------------------------------------------ */

iframe#footer { height: 6em; }

footer { text-align: center; font-size: 90%; font-family: sans-serif; }

hr#footer-top { width: 33%; border: none; border-top: 1px solid silver; }

/*******************************************************************************
 * Page-specific styles
 */

/* Home --------------------------------------------------------------------- */
#home #waldir-img {
	border-radius: 50%;
	display: block;
	margin: 0 auto;
	width: 200px;
}

/* Profiles ----------------------------------------------------------------- */
#profiles ul {
	column-width: 10em;
	-moz-column-width: 10em;
	-webkit-column-width: 10em;
}

/* CV ----------------------------------------------------------------------- */
#cv ul {
	padding-left: 2em;
}
#cv ul:not(.bullets) {
	list-style: none;
}
#cv ul.bullets {
	margin-left: 1.5em;
}
#cv ul.plain ul {
	padding-left: 0;
}
#cv h2 {
	border-bottom: 2px solid #ccc;
}

/* Rulesets for the publications */
#cv .pub-journal:after { content: "[journal article]";  }
#cv .pub-conf:after    { content: "[conference paper]"; }
#cv .pub-poster:after  { content: "[conference poster]"; }
#cv .pub-thesis:after  { content: "[academic thesis]"; }
#cv *[class^="pub-"] {
	font-style: italic;
	font-size: 100%;
	font-weight: bold;
	display: inline-block;
	margin: 0.5em auto;
}
#cv li:first-child > *[class^="pub-"] { margin-top: 0; }
#cv *[class^="pub-"]:after {
	color: #999;
	font-style: normal;
	font-size: 75%;
	line-height: 75%;
	font-weight: normal;
	display: block;
}

/* Rulesets for entries with an icon to the left */
#cv ul:not([class]) li:before {
	content: "⚫"; /* MEDIUM BLACK CIRCLE (U+26AB) */
	/* Identical to fontello.css */
	font-family: 'Apple Symbols', sans-serif;
	color: #999;
	display: inline-block;
	width: 1em;
	text-align: center;
}
#cv [class^="icon-"], #cv ul:not([class]) li {
	position: relative;
	padding-left: 2.3em;
}
#cv [class^="icon-"]:before, #cv ul:not([class]) li:before {
	margin-right: 0.5em;
	margin-left: 0.5em;
	position: absolute;
	left: 0;
}
#cv [class^="icon-"]:before { top: 0.2em; }
#cv .icon-time { font-style: italic; }

/* Use a table-like display if the screen is large enough */
@media (min-width: 40rem) {
	#cv ul.table {
		display: table;
	}
	#cv ul.table > li {
		display: table-row;
	}
	#cv strong.field {
		display: table-cell;
		text-align: right;
		width: 10em;
		color: #777;
	}
	#cv span.value {
		display: table-cell;
		padding-left: 1.5em;
	}
}
@media print {
	#cv { font-size: 75%; }
	#cv h2#education { page-break-before: always; }
	#cv a:visited { color: RoyalBlue; } /* Override visited link color */
	#cv a, #cv abbr { text-decoration: none; }
}

/* Bio ---------------------------------------------------------------------- */
#bio ul {
	padding-left: 0;
}
#bio li {
	float: left;
	background: LightGrey;
	display: block;
	width: 1em;
	height: 1em;
	border: 1px solid black;
	border-radius: 50%;
	cursor: default;
	margin: 0.2em;
}
#bio li.past {
	background: GreenYellow;
}
#bio li.empty {
	background: DarkSeaGreen;
}
#bio li.present {
	background: OrangeRed;
}
#bio li.future {
	background: LightGrey;
}
#bio li > span {
	position:absolute;
	display: none;
	background: LightYellow;
	border: 1px solid grey;
	padding: 0.5em 1em;
	line-height: 1.5em;
	font-size: 0.85em;
	margin-top: 1em;
	margin-left: 0.5em;
	border-radius: 1em;
	border-top-left-radius: 0;
	max-width: 30em;
}
#bio li.past:not(.empty):hover > span,
#bio li.present:hover > span,
#bio li.birthday:hover > span {
	display:block;
}
#bio li.birthday {
	border-color: #333;
	border-width: 2px;
}
#bio li.past:not(.empty):hover,
#bio li.present:hover,
#bio li.birthday:hover {
	background: yellow;
	border-color: OrangeRed;
	border-width: 2px;
}

/*******************************************************************************
 * Generic print styles
 */

@media print {
	.page-break-above { page-break-before: always; }
	.noprint { display: none; }
	abbr[title] { border-bottom: none; }
}

@media not print {
	.print-only { display: none !important; }
}
