/*******************************************************************************
 * Site-wide styles
 */

body { font-family: 'Roboto', sans; font-weight: 300; color: #333; }

p { line-height: 1.5em; }

h1 { text-align: center; }

h2 { border-bottom: 1px solid #999; }

h3 { margin-bottom: 0; }

h1, h2, h3, h4, h5, h6 {
	font-family: 'Roboto Slab', serif;
	font-weight: normal;
}

.nobreak { white-space: nowrap; }

ul.plain { list-style: none; }

a { color: DodgerBlue; }

a:visited { color: DarkSlateBlue; }

html#iframe-noscroll { overflow-y: hidden; }

iframe { width: 100%; border: 0px none transparent; display: block; }

/*******************************************************************************
 * Header styles
 */

iframe#nav {
	position: fixed; top: 0;
	height: 3em; box-sizing: content-box;
	border-bottom: 4px solid YellowGreen; /* alt: DarkTurquoise, OrangeRed */
}

.charcoal, iframe#nav { background: #333; }

nav {
	color: grey;
	padding: 0 1em;
	white-space: nowrap;
	text-align: right;
	line-height: 3em;
}

nav>a { color: white; text-decoration: none; }

nav>a:visited { color: silver; }

nav>a#homelink:visited { color: white; }

nav>a:hover { text-decoration: underline; }

nav>a#homelink:hover { text-decoration: none; }

nav a#homelink {
	font-family: 'Fredericka the Great', serif;
	font-size: 200%;
	float: left;
	padding-right: 0.5em;
}

/*******************************************************************************
 * Footer styles
 */

iframe#footer { height: 6em; }

footer { text-align: center; font-size: 90%; font-style: italic; }

hr#footer-top { width: 33%; border:none; border-top: 1px solid silver; }



/*******************************************************************************
 * Page-specific styles
 */

/************ HOME ************/
#home #waldir-img {
	border-radius: 50%;
	display: block;
	margin: 0 auto;
}

/*********** CONTACT **********/
#contact ul {
	column-width: 10em;
	-moz-column-width: 10em;
	-webkit-column-width: 10em;
}

#contact ul > li > a[id] {
	background-position: 0 center;
	padding-left: 20px;
	background-repeat: no-repeat;
}

#contact #academia-edu {
	background-image:url(http://www.google.com/s2/favicons?domain=academia.edu);
}

#contact #github {
	background-image:url(http://www.google.com/s2/favicons?domain=github.com);
}

#contact #google-scholar {
	background-image:url(http://www.google.com/s2/favicons?domain=scholar.google.com);
}

#contact #linkedin {
	background-image:url(http://www.google.com/s2/favicons?domain=linkedin.com);
}

#contact a#mendeley {
	background-image:url(http://www.google.com/s2/favicons?domain=mendeley.com);
}

#contact #researchgate {
	background-image:url(http://www.google.com/s2/favicons?domain=researchgate.com);
}

#contact #vizualize-me {
	background-image:url(http://www.google.com/s2/favicons?domain=vizualize.me);
}

#contact #xing {
	background-image:url(http://www.google.com/s2/favicons?domain=xing.com);
}

/************* CV *************/

#cv ul {
	padding-left: 2em;
}
#cv ul {
	list-style: none;
}
#cv ul.plain ul {
	padding-left: 0;
}
#cv ul:not([class]) li:before {
	content: "⚫"; /* MEDIUM BLACK CIRCLE (U+26AB) */
	/* Identical to fontello.css */
	color: #999;
	display: inline-block;
	width: 1em;
	text-align: center;
}
#cv [class^="icon-"]:before, #cv ul:not([class]) li:before {
	margin-right: 0.5em;
	margin-left: 0.5em;
}
#cv .icon-time {
	font-style: italic;
}
/* Use a table-like display if the screen is large enough */
@media (min-width: 40rem) {
	#cv ul.table {
		display: table;
	}
	#cv ul.table > li {
		display: table-row;
	}
	#cv strong.field {
		display: table-cell;
		text-align: right;
		width: 10em;
	}
	#cv span.value {
		display: table-cell;
		padding-left: 1.5em;
	}
}
@media print {
	#cv { font-size: 80%; }
	#cv > div.container { margin-top: 0; padding-top: 0; }
	#cv ul { padding-left: 0.5rem; }
	#cv h2 { background-color: #eee; padding-left: 0.5rem; }
	/* For Firefox */
	#cv ul.table { display: block; }
	#cv ul.table > li { display: list-item; }
	#cv ul.table span.field, #cv ul.table span.value { display: inline; padding: 0; }
}

/************* BIO ************/
#bio ul {
	padding-left: 0;
}
#bio li {
	float: left;
	background: LightGrey;
	display: block;
	width: 1em;
	height: 1em;
	border: 1px solid black;
	border-radius: 50%;
	cursor: default;
	margin: 0.2em;
}
#bio li.past {
	background: GreenYellow;
}
#bio li.empty {
	background: DarkSeaGreen;
}
#bio li.present {
	background: OrangeRed;
}
#bio li.future {
	background: LightGrey;
}
#bio li.dead {
	background: Grey;
	display: none;
}
#bio li > span {
	position:absolute;
	display: none;
	background: LightYellow;
	border: 1px solid grey;
	padding: 0.5em 1em;
	line-height: 1.5em;
	font-size: 0.85em;
	margin-top: 1em;
	margin-left: 0.5em;
	border-radius: 1em;
	border-top-left-radius: 0;
	max-width: 30em;
}
#bio li.past:not(.empty):hover > span,
#bio li.present:hover > span,
#bio li.birthday:hover > span {
	display:block;
}
#bio li.birthday {
	border-color: #333;
	border-width: 2px;
}
#bio li.past:not(.empty):hover,
#bio li.present:hover,
#bio li.birthday:hover {
	background: yellow;
	border-color: OrangeRed;
	border-width: 2px;
}

/*******************************************************************************
 * Generic print styles
 */

@media print {
	.page-break-above { page-break-before: always; }
	.noprint { display: none; }
	abbr[title] { border-bottom: none; }
}

@media screen {
	.print-only { display: none; }
}

/*******************************************************************************
 * Fluid layout
 */

/* aekaplan/grid */

.container, footer { /* step 4 */
	margin: 0 auto;
	max-width: 960px;
	width: 90%;
}

.container { /* custom tweaks */
	margin-top: 3em; /* to make room for the navbar */
	padding-top: 1em; /* custom tweak: breathing room */
}

*, *:before, *:after { box-sizing: border-box; } /* step 3 */

html { font-size: 100%; }                               /* Small screens (default) */
@media (min-width: 40rem) { html { font-size: 112%; } } /* Medium screens (640px) */
@media (min-width: 64rem) { html { font-size: 120%; } } /* Large screens (1024px) */ 

/* mrmrs/fluidity */

img, canvas, iframe, video, svg, select, textarea { max-width: 100%; }
