@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700); /* light, regular, semi-bold, bold */

body {
  padding: 0px 0 20px 0px;
  margin: 0px;
  font: 14px/1.5 "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #f0e7d5;
  font-weight: normal;
  background: #252525;
  background-attachment: fixed !important;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #2a2a29), color-stop(100%, #1c1c1c));
  background: -webkit-linear-gradient(#2a2a29, #1c1c1c);
  background: -moz-linear-gradient(#2a2a29, #1c1c1c);
  background: -o-linear-gradient(#2a2a29, #1c1c1c);
  background: -ms-linear-gradient(#2a2a29, #1c1c1c);
  background: linear-gradient(#2a2a29, #1c1c1c);
}

h1, h2, h3, h4, h5, h6 {
  color: #b6b6b6;
  margin: 0 0 10px;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
}

hr {
  border: 0;
  outline: none;
  height: 3px;
  background: transparent url("../images/hr.png") center center repeat-x;
  margin: 0 0 20px;
}

a {
  color: #ffcc00;
  text-decoration: none;
}

.credits a {
  color: #ccaa33;
}

a:visited {
  color: #cc9944;
}

a:hover {
  text-decoration: underline;
}

p, ul, ol, table, pre, dl {
  margin: 0 0 20px;
}

ul {
  list-style-image: url("../images/bullet.png");
}

strong {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  font-weight: bold;
}

.wrapper {
  max-width: 650px;
  margin: 0 auto;
  position: relative;
  padding: 0 20px;
}

section {
  max-width: 650px;
  padding: 30px 0px 50px 0px;
  margin: 20px 0;
  margin-top: 70px;
}
section #title {
  border: 0;
  outline: none;
  margin: 0 0 50px 0;
  padding: 0 0 5px 0;
}
section #title h1 {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300; /* light */
  font-size: 40px;
  text-align: center;
  line-height: 36px;
}
section #title p {
  color: #d7cfbe;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300; /* light */
  font-size: 18px;
  text-align: center;
}
section #title .credits {
  font-size: 11px;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  color: #696969;
  margin-top: -10px;
}
section #title .credits.left {
  float: left;
}
section #title .credits.right {
  float: right;
}
